.bg{ background: #282828;}
header{background: rgb(23,0,97); background: linear-gradient(180deg, rgba(23,0,97,1) 9%, rgba(19,1,79,1) 68%);}
.logo{height: 30px; width: auto;}
.icon{height:20px; width: auto;}
.custom-nav{background: rgb(63,35,155);background: linear-gradient(180deg, rgba(63,35,155,1) 10%, rgba(33,0,139,1) 50%, rgba(64,36,155,1) 90%);}
.scrollmenu::-webkit-scrollbar { display: none; } /*remove scrollbar icon for chrome*/
.scrollmenu { overflow: auto; white-space: nowrap; -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }
.caro-img-h{height: 400px;}/*carousel image height*/
/*vertical auto scroll for latest news */
.v-scroll{height:390px; background-color: #313131; overflow:hidden;}
.v-scroll ul{list-style:none;position:relative;}
.v-scroll li{height:100px;border-bottom:2px solid #3e3e3e;}
.bg-cus-31{background-color: #313131;}
.bg-cus-bdrbtm{border-bottom:2px solid#150059;} /*border bottem color for heading*/
.pic-50{height: 50px;}
.bg-black{background-color: black; /*black bg color */}
.bg-footer{background-color: #170060;}
